*
{
	margin: 0;
	
	
	margin: 0px;
	padding: 0px;
	 overflow-x: hidden;
}
	padding-right: 0px;
	padding-left: 0px;
	
	}
	



ul{
	list-style-type: none;
	float: left;
	margin-top:12px;
	right: 29px;


}
ul li{
	display: inline-block;
	 background: lavenderblush;
	
}
ul li a{
	text-decoration: underline;
	color: inherit;
	padding: 5px 15px;
	width: 2px;
	border: 1px solid transparent;
	transition: 0.6% ease ;
	
	}
	ul li a:hover{
	background-color: #00Ffff;
	color: #FF0000;
	color: #000;
	

	
}
ul li.active a{
	background-color: #ff4d4d;
	border-radius: 0 30px  0 30px;
	padding: 5px 15px;

}


	.button{
	position: relative;
	top:91%;
	left: 50%;
	transform: translate(-50%,-50%);


}
.btn{

	padding: 15px 27px;
	color:#000000;
	background: #008000;
	text-decoration:none;
	transition: 0.6% ease;
	border-radius:  60px;

}
.btn:hover{
background-color: 	#00bfff;
	color: #000;
}

.round{

	width: 30px;

	border-radius: 50%;
}
h4{
	font-family: inherit;
	font-style: italic;
}
.title{
	position: absolute;
	top:6.8%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: black;
}
.title h1{
	color: 	lemonchiffon;
	letter-spacing: 10px;
	size: 10px;
	
	font-size: 9px;
}

	.marquee 
	{
		font-size: 20px;

	}
	.SUBMIT{
		background-origin: content-box;
		background-color: #00ffff;
		border-radius: 0 30px 0 30px;
	}

h2{
	color: #800000;
	font-size: 27px;
	font-style:all;
}
.heading{
	 background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../5678.jpg);
	 background-size: cover;
background-position: center;
height: 100vh;

}



.marquee{
	line-height: 20px;
}
.bg{
	background: #dcdcdc;

}
.bgm{
background: antiquewhite;
}

.copyrights{
	


bottom: 90;
	color: white;
	background: black;
}
.social-media{
	bottom: 90px;
	top: 99px;

}
@media screen and (max-width: 959px){
	img{
		width: 20%;
	}

	
}
.laba{
	width: 990px;
}
.bonny{
	width: 990px;
}
.sexy{
	width: 1600px;
}
.shona{
	width: 990px;
	left: 66px;
	right: 44px;
}
footer{
  background:	lightgray;
  padding: 3px 0px;
}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}



.social-media{
  margin: 20px 0;
}

.social-media a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.social-media a:hover{
  color: #fc5c65;
}

.right-col h1{
  font-size: 26px;
}

.border{
  width: 100px;
  height: 4px;
  background: #fc5c65;
}

.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.btn{
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #fc5c65;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.btn:hover{
  opacity: .7;
}

.page-content{
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col{
    width: 100%;
    text-align: center;
  }
}


@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
}


